*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: monospace;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(175deg, #003049, #0a9396);
    padding: 10%;
}

.todo-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 30px;
}

.todo-app h2{
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.todo-app h2 img{
    width: 45px;
    margin-left: 15px;
}

.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: honeydew;
    border-radius: 35px;
    padding-left: 20px;
    margin-bottom: 30px;
}

input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-weight: 15px;
}

button{
    border: none;
    outline: none;
    padding: 16px 5px;
    background: wheat; 
    width: 100px;
    color: black;
    font-size: 15px;
    cursor: pointer;
    border-radius: 35px;
}

ul li{
    list-style: none;
    font-size: 17px;
    padding: 10px 20px 10px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(images/images.png);
    background-size: cover;
    background-position: center;
    top: 8px;
    left: 8px;
}

ul li.checked{
    color: darkgray;
    text-decoration: line-through;
}

ul li.checked::before{
    background-image: url(images/checked.png);
}

ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: black;
    line-height: 40px;
    text-align: center;
}

ul li span:hover{
    color: red;
    background: darkgray;
    border-radius: 12px;
}



